@import url(https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i);





body {
  font-family: Dosis;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Lora', serif;
  font-size: 3.5rem;
}
.display-1 > .mbr-iconfont {
  font-size: 5.6rem;
}
.display-2 {
  font-family: 'Lora', serif;
  font-size: 2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-5 {
  font-family: 'Lora', serif;
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-7 {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.8rem;
    font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #80a948 !important;
}
.bg-success {
  background-color: #36d88a !important;
}
.bg-info {
  background-color: #ff4100 !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #80a948;
  border-color: #80a948;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #577331;
  border-color: #577331;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #577331 !important;
  border-color: #577331 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #75be12;
  border-color: #75be12;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #4a780b;
  border-color: #4a780b;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #4a780b !important;
  border-color: #4a780b !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #ff4100;
  border-color: #ff4100;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #b32d00;
  border-color: #b32d00;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #b32d00 !important;
  border-color: #b32d00 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #36d88a;
  border-color: #36d88a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #1fa263;
  border-color: #1fa263;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #1fa263 !important;
  border-color: #1fa263 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #c1c1c1;
  border-color: #c1c1c1;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #9b9b9b;
  border-color: #9b9b9b;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #444444;
  border-color: #444444;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #1e1e1e;
  border-color: #1e1e1e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #4a612a;
  color: #4a612a;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #80a948;
  border-color: #80a948;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #80a948 !important;
  border-color: #80a948 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #3c6109;
  color: #3c6109;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #75be12;
  border-color: #75be12;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #75be12 !important;
  border-color: #75be12 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #992700;
  color: #992700;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #ff4100;
  border-color: #ff4100;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4100 !important;
  border-color: #ff4100 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #1b8d56;
  color: #1b8d56;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #36d88a;
  border-color: #36d88a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #36d88a !important;
  border-color: #36d88a !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #8e8e8e;
  color: #8e8e8e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #111111;
  color: #111111;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #80a948 !important;
}
.text-secondary {
  color: #75be12 !important;
}
.text-success {
  color: #36d88a !important;
}
.text-info {
  color: #ff4100 !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #4a612a !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #3c6109 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #1b8d56 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #992700 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8e8e8e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ff4100;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #444444;
}
.mbr-gallery-filter li.active .btn {
  background-color: #80a948;
  border-color: #80a948;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #80a948;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #bdd59c;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #e1f9ed;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffd9cc;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
#scrollToTop a {
  background: #444444;
  opacity: .5;
}
#scrollToTop a:hover {
  opacity: .7;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #ffffff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow {
  background-color: #444444;
  opacity: .5;
  transition: .3s;
}
.mbr-arrow a {
  color: #ffffff;
}
.mbr-arrow:hover {
  opacity: .7;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #80a948;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #80a948;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #80a948;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #80a948;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #80a948;
}
/* Headers*/
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.cid-qFfw1GVmhV {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/img-2167-2000x2666.jpg");
}
.cid-qFfw1GVmhV .text {
  letter-spacing: 0.03em;
  line-height: 1.7;
}
.cid-qFfw1GVmhV .mbr-text {
  width: 100%;
  height: auto;
}
@media (max-width: 991px) {
  .cid-qFfw1GVmhV .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cid-qFfw1GVmhV .content {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0;
  }
}
.cid-qFf9qrMSJN .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-qFf9qrMSJN .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-qFf9qrMSJN .navbar .dropdown-item {
  transition: all .3s;
  padding: .3rem 1.5rem;
  border-bottom: 1px solid #2b2b2b;
  color: #ffffff !important;
  background: #444444 !important;
}
.cid-qFf9qrMSJN .navbar .dropdown-item:hover {
  padding-left: 2rem;
}
.cid-qFf9qrMSJN .navbar .dropdown-item:focus border {
  outline: none;
}
.cid-qFf9qrMSJN .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-qFf9qrMSJN .navbar .dropdown-menu {
  width: 100%;
  padding: 3px 0 0 0;
  background: transparent !important;
}
.cid-qFf9qrMSJN .navbar .dropdown-menu > .dropdown-item:first-child {
  border-top: 2px solid #80a948;
}
.cid-qFf9qrMSJN .navbar .dropdown-menu .dropdown-submenu {
  padding-top: 0px;
}
.cid-qFf9qrMSJN .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-qFf9qrMSJN .navbar.collapsed .dropdown-menu {
  width: auto;
  padding: 1rem 0 1rem 0;
  border-top: none !important;
  background: transparent !important;
}
.cid-qFf9qrMSJN .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qFf9qrMSJN .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qFf9qrMSJN .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qFf9qrMSJN .navbar.collapsed .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 0.667em 1.667em;
}
.cid-qFf9qrMSJN .navbar.collapsed .nav-dropdown .link {
  margin: 0.667em 1.667em;
}
.cid-qFf9qrMSJN .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qFf9qrMSJN .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
  border-bottom: none !important;
  background: transparent !important;
  color: inherit !important;
}
.cid-qFf9qrMSJN .navbar.collapsed .dropdown-menu .dropdown-item:first-child {
  border-top: none;
}
@media (max-width: 991px) {
  .cid-qFf9qrMSJN .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-qFf9qrMSJN .navbar .dropdown-menu {
    width: auto;
    padding: 1rem 0 1rem 0;
    background: transparent !important;
    border-top: none !important;
  }
  .cid-qFf9qrMSJN .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qFf9qrMSJN .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qFf9qrMSJN .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qFf9qrMSJN .navbar .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    padding: 0.667em 1.667em;
  }
  .cid-qFf9qrMSJN .navbar .nav-dropdown .link {
    margin: 0.667em 1.667em;
  }
  .cid-qFf9qrMSJN .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qFf9qrMSJN .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qFf9qrMSJN .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
    border-bottom: none !important;
    background: transparent !important;
    color: inherit !important;
  }
  .cid-qFf9qrMSJN .navbar .dropdown-menu .dropdown-item:first-child {
    border-top: none;
  }
  .cid-qFf9qrMSJN .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-qFf9qrMSJN .navbar .navbar-toggler {
    flex-basis: auto;
  }
}
.cid-qFf9qrMSJN .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-qFf9qrMSJN .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qFf9qrMSJN .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qFf9qrMSJN .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qFf9qrMSJN .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qFf9qrMSJN .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qFf9qrMSJN .dropdown-item.active,
.cid-qFf9qrMSJN .dropdown-item:active {
  background-color: transparent;
}
.cid-qFf9qrMSJN .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qFf9qrMSJN .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qFf9qrMSJN .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qFf9qrMSJN .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-qFf9qrMSJN .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: -2px 0 0 0;
  left: 100%;
}
.cid-qFf9qrMSJN .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qFf9qrMSJN ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qFf9qrMSJN .navbar-buttons {
  text-align: center;
}
.cid-qFf9qrMSJN button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-qFf9qrMSJN button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-qFf9qrMSJN button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qFf9qrMSJN button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qFf9qrMSJN button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qFf9qrMSJN button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qFf9qrMSJN nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qFf9qrMSJN nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qFf9qrMSJN nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qFf9qrMSJN nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qFf9qrMSJN .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-qFf9qrMSJN a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  letter-spacing: 2px;
}
.cid-qFf9qrMSJN .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-qFf9qrMSJN .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 1.667em 1.667em;
}
.cid-qFf9qrMSJN .nav-dropdown .link {
  margin: 1.667em 1.667em;
}
.cid-qFf9qrMSJN .nav-link:hover,
.cid-qFf9qrMSJN .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-qFfdtg1PMW {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-qFfdtg1PMW .mbr-section-title {
  letter-spacing: 0.1em;
}
.cid-qFfdtg1PMW .mbr-section-title span {
  color: #ffbc00;
}
.cid-qFfdtg1PMW .mbr-section-subtitle {
  color: #ffffff;
  letter-spacing: 0.03em;
}
.cid-qFfdtg1PMW .progressbar-title p {
  margin-bottom: 8px;
  letter-spacing: 0.03em;
}
.cid-qFfdtg1PMW .progressbar-title {
  color: white;
}
.cid-qFfdtg1PMW .progress {
  width: 100%;
  height: 8px;
  border-radius: 0;
}
.cid-qFfdtg1PMW .progress_elements {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cid-qFfdtg1PMW .progress_elements > div {
  flex: 0 0 100%;
  max-width: 100%;
}
.cid-qFfdtg1PMW .progress-bar {
  height: 8px;
  background-color: #80a948;
}
.cid-qFfdtg1PMW .title-wrap {
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.cid-qFfdtg1PMW .progressbar-number {
  display: inline-block;
}
.cid-qFfdtg1PMW .progress-primary {
  background: rgba(206, 206, 206, 0.4);
  border: none;
  outline: none;
}
.cid-qFfdtg1PMW .progress-primary::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-qFfdtg1PMW .progress_value {
  position: relative;
  color: #80a948;
}
.cid-qFfdtg1PMW progress[value]::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-qFfdtg1PMW progress::-webkit-progress-value {
  background: #80a948;
}
.cid-qFfdtg1PMW progress[value]::-moz-progress-bar {
  background: #80a948;
}
.cid-qFfdtg1PMW progress::-ms-fill {
  background: #80a948;
}
.cid-qFfdtg1PMW .progress1 .progressbar-number:before {
  content: '90';
}
.cid-qFfdtg1PMW .progress2 .progressbar-number:before {
  content: '85';
}
.cid-qFfdtg1PMW .progress3 .progressbar-number:before {
  content: '80';
}
.cid-qFfdtg1PMW .progress4 .progressbar-number:before {
  content: '75';
}
.cid-qFfdtg1PMW .progress5 .progressbar-number:before {
  content: '75';
}
.cid-qFfdtg1PMW .progress-bar-1 {
  width: 90%;
}
.cid-qFfdtg1PMW .progress-bar-2 {
  width: 85%;
}
.cid-qFfdtg1PMW .progress-bar-3 {
  width: 80%;
}
.cid-qFfdtg1PMW .progress-bar-4 {
  width: 75%;
}
.cid-qFfdtg1PMW .progress-bar-5 {
  width: 75%;
}
.cid-qFfdud9GMA {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/mbr-1583x1080.jpg");
}
.cid-qFfdud9GMA .mbr-section-title {
  margin: 0;
}
.cid-qFfdud9GMA .underline {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.cid-qFfdud9GMA .underline .line {
  width: 3rem;
  height: 2px;
  background: #80a948;
  display: inline-block;
}
.cid-qFfdud9GMA .slider-testimonials {
  background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
  display: inline-block;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  outline-offset: -15px;
  padding: 65px 50px;
  position: relative;
  text-align: center;
}
.cid-qFfdud9GMA .carousel-item {
  justify-content: center;
}
.cid-qFfdud9GMA .carousel-item.active,
.cid-qFfdud9GMA .carousel-item-next,
.cid-qFfdud9GMA .carousel-item-prev {
  display: flex;
}
.cid-qFfdud9GMA .carousel-control {
  transition: all .3s;
  opacity: 1;
  background-color: #000000;
  color: #ffffff;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 46%;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-qFfdud9GMA .carousel-control.carousel-control-prev {
  left: -25px;
}
.cid-qFfdud9GMA .carousel-control.carousel-control-prev:hover {
  left: -30px;
}
.cid-qFfdud9GMA .carousel-control.carousel-control-next {
  right: -25px;
}
.cid-qFfdud9GMA .carousel-control.carousel-control-next:hover {
  right: -30px;
}
.cid-qFfdud9GMA .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-qFfdud9GMA .carousel-control:hover {
  background-color: #80a948;
}
.cid-qFfdud9GMA .user_image {
  width: 200px;
  height: 200px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 2rem auto;
}
.cid-qFfdud9GMA .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
@media (max-width: 767px) {
  .cid-qFfdud9GMA .carousel-control-prev,
  .cid-qFfdud9GMA .carousel-control-next {
    display: none;
  }
  .cid-qFfdud9GMA .mbr-section-title {
    padding-bottom: 0;
  }
  .cid-qFfdud9GMA .slider-testimonials {
    padding: 2rem 1rem;
  }
}
@media (max-width: 230px) {
  .cid-qFfdud9GMA .user_image {
    width: 100%;
    height: auto;
  }
}
.cid-qFfdud9GMA .carousel-row:hover .carousel-control {
  visibility: visible;
}
.cid-qFfdud9GMA .user_name,
.cid-qFfdud9GMA .user_desk {
  text-align: right;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qFfdud9GMA .slider-testimonials {
    min-width: 100%;
    outline: 15px solid rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .cid-qFfdud9GMA .carousel-control-prev {
    left: -40px !important;
  }
  .cid-qFfdud9GMA .carousel-control-prev:hover {
    left: -45px !important;
  }
  .cid-qFfdud9GMA .carousel-control-next {
    right: -40px !important;
  }
  .cid-qFfdud9GMA .carousel-control-next:hover {
    right: -45px !important;
  }
}
.cid-qFfdCAi451 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #232323;
}
.cid-qFfdCAi451 a:link {
  text-decoration: none;
}
.cid-qFfdCAi451 .icon-transition span {
  color: #ffffff;
  display: block;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  border: 2px solid #ffffff;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-qFfdCAi451 .icon-transition span:hover {
  background-color: #80a948;
}
.cid-qFfdCAi451 .inner-text {
  line-height: 3em;
}
.cid-qFfdCAi451 .social-media {
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.cid-qFfdCAi451 .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-qFfdCAi451 .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-qFfdCAi451 .content-text,
.cid-qFfdCAi451 .inner-text {
  color: #c1c1c1;
}
.cid-qFfezjwsxp .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-qFfezjwsxp .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-qFfezjwsxp .navbar .dropdown-item {
  transition: all .3s;
  padding: .3rem 1.5rem;
  border-bottom: 1px solid #2b2b2b;
  color: #ffffff !important;
  background: #444444 !important;
}
.cid-qFfezjwsxp .navbar .dropdown-item:hover {
  padding-left: 2rem;
}
.cid-qFfezjwsxp .navbar .dropdown-item:focus border {
  outline: none;
}
.cid-qFfezjwsxp .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-qFfezjwsxp .navbar .dropdown-menu {
  width: 100%;
  padding: 3px 0 0 0;
  background: transparent !important;
}
.cid-qFfezjwsxp .navbar .dropdown-menu > .dropdown-item:first-child {
  border-top: 2px solid #80a948;
}
.cid-qFfezjwsxp .navbar .dropdown-menu .dropdown-submenu {
  padding-top: 0px;
}
.cid-qFfezjwsxp .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-qFfezjwsxp .navbar.collapsed .dropdown-menu {
  width: auto;
  padding: 1rem 0 1rem 0;
  border-top: none !important;
  background: transparent !important;
}
.cid-qFfezjwsxp .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qFfezjwsxp .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qFfezjwsxp .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qFfezjwsxp .navbar.collapsed .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 0.667em 1.667em;
}
.cid-qFfezjwsxp .navbar.collapsed .nav-dropdown .link {
  margin: 0.667em 1.667em;
}
.cid-qFfezjwsxp .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qFfezjwsxp .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
  border-bottom: none !important;
  background: transparent !important;
  color: inherit !important;
}
.cid-qFfezjwsxp .navbar.collapsed .dropdown-menu .dropdown-item:first-child {
  border-top: none;
}
@media (max-width: 991px) {
  .cid-qFfezjwsxp .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-qFfezjwsxp .navbar .dropdown-menu {
    width: auto;
    padding: 1rem 0 1rem 0;
    background: transparent !important;
    border-top: none !important;
  }
  .cid-qFfezjwsxp .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qFfezjwsxp .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qFfezjwsxp .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qFfezjwsxp .navbar .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    padding: 0.667em 1.667em;
  }
  .cid-qFfezjwsxp .navbar .nav-dropdown .link {
    margin: 0.667em 1.667em;
  }
  .cid-qFfezjwsxp .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qFfezjwsxp .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qFfezjwsxp .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
    border-bottom: none !important;
    background: transparent !important;
    color: inherit !important;
  }
  .cid-qFfezjwsxp .navbar .dropdown-menu .dropdown-item:first-child {
    border-top: none;
  }
  .cid-qFfezjwsxp .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-qFfezjwsxp .navbar .navbar-toggler {
    flex-basis: auto;
  }
}
.cid-qFfezjwsxp .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-qFfezjwsxp .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qFfezjwsxp .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qFfezjwsxp .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qFfezjwsxp .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qFfezjwsxp .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qFfezjwsxp .dropdown-item.active,
.cid-qFfezjwsxp .dropdown-item:active {
  background-color: transparent;
}
.cid-qFfezjwsxp .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qFfezjwsxp .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qFfezjwsxp .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qFfezjwsxp .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-qFfezjwsxp .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: -2px 0 0 0;
  left: 100%;
}
.cid-qFfezjwsxp .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qFfezjwsxp ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qFfezjwsxp .navbar-buttons {
  text-align: center;
}
.cid-qFfezjwsxp button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-qFfezjwsxp button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-qFfezjwsxp button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qFfezjwsxp button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qFfezjwsxp button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qFfezjwsxp button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qFfezjwsxp nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qFfezjwsxp nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qFfezjwsxp nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qFfezjwsxp nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qFfezjwsxp .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-qFfezjwsxp a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  letter-spacing: 2px;
}
.cid-qFfezjwsxp .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-qFfezjwsxp .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 1.667em 1.667em;
}
.cid-qFfezjwsxp .nav-dropdown .link {
  margin: 1.667em 1.667em;
}
.cid-qFfezjwsxp .nav-link:hover,
.cid-qFfezjwsxp .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-qFfeDNQbwm {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/img-1634-2000x1500.jpg");
}
.cid-qFfeDNQbwm .mbr-section-heading {
  margin-bottom: 1.5em;
  color: #ffffff;
}
.cid-qFfeDNQbwm .input-main {
  width: 99.6%;
  margin-left: .1em;
}
.cid-qFfeDNQbwm .form-1 {
  margin: 0 1em;
  padding: 0;
}
.cid-qFfeDNQbwm .input-wrap {
  padding: 0;
  margin-bottom: 1.3em;
}
.cid-qFfeDNQbwm .input-wrap input {
  border: 1px solid #ddd;
  padding-left: .5em;
  height: 2.5em;
  width: 96%;
}
.cid-qFfeDNQbwm .form-group textarea {
  height: 15em;
  background-color: white;
  padding: 0.5em 0.6em;
  width: 98%;
}
.cid-qFrVpXZ1T8 {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;
}
.cid-qFrVpXZ1T8 .images-container.container-fluid {
  padding: 0;
}
.cid-qFrVpXZ1T8 .media-container-row {
  margin: 0 auto;
  align-items: center;
}
.cid-qFrVpXZ1T8 .media-container-row .img-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
}
.cid-qFrVpXZ1T8 .media-container-row .img-item img {
  width: 100%;
}
.cid-qFrVpXZ1T8 .media-container-row .img-item .img-caption {
  background: #80a948;
  z-index: 2;
  padding: 1rem 1rem;
  word-break: break-word;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.cid-qFrVpXZ1T8 .media-container-row .img-item .img-caption p {
  margin-bottom: 0;
}
.cid-qFrVpXZ1T8 .media-container-row .img-item.item1 {
  padding: 0 2rem 0 0;
}
.cid-qFrVpXZ1T8 .media-container-row .img-item.item1 .img-caption {
  right: 2rem;
}
@media (max-width: 992px) {
  .cid-qFrVpXZ1T8 .img-item {
    width: 100% !important;
  }
  .cid-qFrVpXZ1T8 .img-item.item1 {
    width: 100%;
    flex-basis: initial !important;
    padding: 0 0 2rem 0 !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qFrVpXZ1T8 .media-container-row .img-item {
    flex-direction: row;
  }
}
.cid-qFfezSaB55 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #232323;
}
.cid-qFfezSaB55 a:link {
  text-decoration: none;
}
.cid-qFfezSaB55 .icon-transition span {
  color: #ffffff;
  display: block;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  border: 2px solid #ffffff;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-qFfezSaB55 .icon-transition span:hover {
  background-color: #80a948;
}
.cid-qFfezSaB55 .inner-text {
  line-height: 3em;
}
.cid-qFfezSaB55 .social-media {
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.cid-qFfezSaB55 .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-qFfezSaB55 .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-qFfezSaB55 .content-text,
.cid-qFfezSaB55 .inner-text {
  color: #c1c1c1;
}
.cid-qFfcINYH49 {
  background-image: url("../../../assets/images/img-2087-2000x1500.jpg");
}
.cid-qFfcINYH49 .mbr-text,
.cid-qFfcINYH49 .typed-text,
.cid-qFfcINYH49 .mbr-section-text {
  letter-spacing: 0.03rem;
}
.cid-qFfcINYH49 .btn {
  margin-left: 4px !important;
}
.cid-qFfcINYH49 .animated-element {
  color: #ffbc00;
}
.cid-qFfcINYH49 .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: #ffbc00;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cid-qFfgyCpOCw .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-qFfgyCpOCw .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-qFfgyCpOCw .navbar .dropdown-item {
  transition: all .3s;
  padding: .3rem 1.5rem;
  border-bottom: 1px solid #2b2b2b;
  color: #ffffff !important;
  background: #444444 !important;
}
.cid-qFfgyCpOCw .navbar .dropdown-item:hover {
  padding-left: 2rem;
}
.cid-qFfgyCpOCw .navbar .dropdown-item:focus border {
  outline: none;
}
.cid-qFfgyCpOCw .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-qFfgyCpOCw .navbar .dropdown-menu {
  width: 100%;
  padding: 3px 0 0 0;
  background: transparent !important;
}
.cid-qFfgyCpOCw .navbar .dropdown-menu > .dropdown-item:first-child {
  border-top: 2px solid #80a948;
}
.cid-qFfgyCpOCw .navbar .dropdown-menu .dropdown-submenu {
  padding-top: 0px;
}
.cid-qFfgyCpOCw .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-qFfgyCpOCw .navbar.collapsed .dropdown-menu {
  width: auto;
  padding: 1rem 0 1rem 0;
  border-top: none !important;
  background: transparent !important;
}
.cid-qFfgyCpOCw .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qFfgyCpOCw .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qFfgyCpOCw .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qFfgyCpOCw .navbar.collapsed .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 0.667em 1.667em;
}
.cid-qFfgyCpOCw .navbar.collapsed .nav-dropdown .link {
  margin: 0.667em 1.667em;
}
.cid-qFfgyCpOCw .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qFfgyCpOCw .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
  border-bottom: none !important;
  background: transparent !important;
  color: inherit !important;
}
.cid-qFfgyCpOCw .navbar.collapsed .dropdown-menu .dropdown-item:first-child {
  border-top: none;
}
@media (max-width: 991px) {
  .cid-qFfgyCpOCw .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-qFfgyCpOCw .navbar .dropdown-menu {
    width: auto;
    padding: 1rem 0 1rem 0;
    background: transparent !important;
    border-top: none !important;
  }
  .cid-qFfgyCpOCw .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qFfgyCpOCw .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qFfgyCpOCw .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qFfgyCpOCw .navbar .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    padding: 0.667em 1.667em;
  }
  .cid-qFfgyCpOCw .navbar .nav-dropdown .link {
    margin: 0.667em 1.667em;
  }
  .cid-qFfgyCpOCw .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qFfgyCpOCw .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qFfgyCpOCw .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
    border-bottom: none !important;
    background: transparent !important;
    color: inherit !important;
  }
  .cid-qFfgyCpOCw .navbar .dropdown-menu .dropdown-item:first-child {
    border-top: none;
  }
  .cid-qFfgyCpOCw .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-qFfgyCpOCw .navbar .navbar-toggler {
    flex-basis: auto;
  }
}
.cid-qFfgyCpOCw .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-qFfgyCpOCw .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qFfgyCpOCw .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qFfgyCpOCw .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qFfgyCpOCw .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qFfgyCpOCw .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qFfgyCpOCw .dropdown-item.active,
.cid-qFfgyCpOCw .dropdown-item:active {
  background-color: transparent;
}
.cid-qFfgyCpOCw .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qFfgyCpOCw .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qFfgyCpOCw .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qFfgyCpOCw .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-qFfgyCpOCw .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: -2px 0 0 0;
  left: 100%;
}
.cid-qFfgyCpOCw .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qFfgyCpOCw ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qFfgyCpOCw .navbar-buttons {
  text-align: center;
}
.cid-qFfgyCpOCw button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-qFfgyCpOCw button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-qFfgyCpOCw button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qFfgyCpOCw button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qFfgyCpOCw button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qFfgyCpOCw button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qFfgyCpOCw nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qFfgyCpOCw nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qFfgyCpOCw nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qFfgyCpOCw nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qFfgyCpOCw .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-qFfgyCpOCw a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  letter-spacing: 2px;
}
.cid-qFfgyCpOCw .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-qFfgyCpOCw .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 1.667em 1.667em;
}
.cid-qFfgyCpOCw .nav-dropdown .link {
  margin: 1.667em 1.667em;
}
.cid-qFfgyCpOCw .nav-link:hover,
.cid-qFfgyCpOCw .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-qFfgXitevs {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qFfgXitevs .mbr-iconfont {
  font-size: 34px;
  transition: color .3s;
}
.cid-qFfgXitevs .mbr-section-title {
  margin: 0;
}
.cid-qFfgXitevs .underline {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.cid-qFfgXitevs .underline .line {
  width: 3rem;
  height: 2px;
  background: #80a948;
  display: inline-block;
}
.cid-qFfgXitevs .card-img {
  text-align: left;
}
.cid-qFfgXitevs .row-item {
  padding-bottom: 2rem;
}
.cid-qFfgXitevs .row-item:hover .card-img .mbr-iconfont {
  color: #80a948 !important;
}
@media (max-width: 767px) {
  .cid-qFfgXitevs .card-img,
  .cid-qFfgXitevs .mbr-text,
  .cid-qFfgXitevs .mbr-card-title,
  .cid-qFfgXitevs .mbr-section-subtitle,
  .cid-qFfgXitevs .mbr-section-title,
  .cid-qFfgXitevs .underline {
    text-align: center !important;
  }
}
.cid-qFfgXitevs .mbr-card-title,
.cid-qFfgXitevs .card-img {
  color: #444444;
}
.cid-qFfgXitevs .mbr-text {
  color: #444444;
}
.cid-qFfdeg3U1o {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-qFfdeg3U1o .icon-transition span {
  padding: 0.1rem 0.9rem;
  border-radius: 50%;
  color: #ffffff;
  display: block;
  height: 3em;
  line-height: 3em;
  width: 3em;
  background: #444444 none repeat scroll 0 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-qFfdeg3U1o .photo-split {
  padding: 0;
}
.cid-qFfdeg3U1o .photo-split img {
  width: 100%;
}
.cid-qFfdeg3U1o .icon-transition span:hover {
  background-color: #ffbc00;
}
.cid-qFfdeg3U1o .counter-container ul {
  display: flex;
  flex-direction: column;
}
.cid-qFfdeg3U1o .counter-container ul li {
  margin-bottom: .5rem;
  list-style: ✓;
}
.cid-qFfdeg3U1o .counter-container ul li:before {
  color: #80a948;
  display: inline-block;
  content: '✓';
  text-align: center;
  line-height: 1.5em;
  transition: all .2s;
  width: 25px;
  height: 25px;
}
.cid-qFfdeg3U1o .wrap-block {
  padding: 3rem 3rem;
}
.cid-qFfdeg3U1o .wrap-block ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cid-qFfdeg3U1o .wrap-block ul li {
  display: inline-block;
}
.cid-qFfdeg3U1o .wrap-block ul li span {
  text-align: center;
}
.cid-qFfdeg3U1o .social-media {
  margin-top: 1.5em;
  padding: 0;
}
.cid-qFfdeg3U1o .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-qFfdeg3U1o .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-qFfdeg3U1o .mbr-list,
.cid-qFfdeg3U1o .social-media ul {
  text-align: left;
}
@media (max-width: 500px) {
  .cid-qFfdeg3U1o .wrap-block {
    padding: 3rem 1rem;
  }
}
@media (max-width: 767px) {
  .cid-qFfdeg3U1o .mbr-section-title,
  .cid-qFfdeg3U1o .mbr-section-subtitle,
  .cid-qFfdeg3U1o .mbr-text {
    text-align: center !important;
  }
  .cid-qFfdeg3U1o .social-list {
    text-align: center !important;
  }
}
.cid-qFfdeg3U1o .mbr-section-subtitle {
  color: #80a948;
}
.cid-qFfdeg3U1o .mbr-section-title {
  color: #444444;
}
.cid-qFfh5fvODG {
  background: #ffffff;
}
.cid-qFfh5fvODG .image-block {
  margin: auto;
  width: 100% !important;
}
@media (max-width: 768px) {
  .cid-qFfh5fvODG .image-block {
    width: 100% !important;
  }
}
.cid-qFfh6AlIiK {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-qFfdeLC4Bn {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #232323;
}
.cid-qFfdeLC4Bn a:link {
  text-decoration: none;
}
.cid-qFfdeLC4Bn .icon-transition span {
  color: #ffffff;
  display: block;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  border: 2px solid #ffffff;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-qFfdeLC4Bn .icon-transition span:hover {
  background-color: #80a948;
}
.cid-qFfdeLC4Bn .inner-text {
  line-height: 3em;
}
.cid-qFfdeLC4Bn .social-media {
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.cid-qFfdeLC4Bn .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-qFfdeLC4Bn .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-qFfdeLC4Bn .content-text,
.cid-qFfdeLC4Bn .inner-text {
  color: #c1c1c1;
}
